@font-face {
   font-family: mensch;
   src: url(../fonts/mensch.ttf);
}

header {
	background-color: #f1cd4e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	height: 72px;
    justify-content: space-between;
}

#logo_container {

    /*background-color: #666;*/
    align-items: center;
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    padding-left: 15px;
}

#logo_container a {
    background: url('../img/common/logo.png');
    display: block;
    height: 60px;
    width: 130px;
}

#contact_navigation {
    /*background-color: #ccc;*/
    margin-right: 30px;
    position: relative;
    width: 460px;
}

#desktop_navigation {
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    list-style: none;
    padding-right: 20px;
    position: absolute;
    width: 100%;
}

#social_link_container, #contact_us_link, #home_link {
    display: block;
}

#home_link {
    background: url('../img/common/home.png');
    height: 44px;
    width: 76px;
}

#home_link:hover {
    background: url('../img/common/home_activo.png');
}

#social_link_container {
    align-items: center;
    -webkit-align-items: center; /* Safari 7.0+ */
    background: url('../img/common/siguenos_editada.png');
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 43px;
    justify-content: flex-end;
    -webkit-justify-content: flex-end; /* Safari 6.1+ */
    width: 199px;
}

#contact_us_link {
    background: url('../img/common/conocenos.png');
    height: 43px;
    width: 144px;
}

#contact_us_link:hover {
    background: url('../img/common/conocenos_activo.png');
}

#mobile_navigation {
    background-color: #444;
    position: relative;
    display: none;
    width: 100%;
    z-index: 1;
}

#mobile_nav_button {
    background-color: red;
    cursor: pointer;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 0px;
    top: 19px;
}

#mobile_navigation_list {
    background-color: rgba(255,255,255,0.8);
    box-sizing: border-box;
    display: none;
    list-style: none;
    padding: 7px 12px 12px 12px;
    position: absolute;
    text-align: center;
    top: 72px;
    width: 100%;
}

.social_link {
    /*background-color: crimson;*/
    display: block;
    margin: 5px 9px 0px 3px;
}

.facebook_link {
    background: url('../img/common/facebook_btn.png');
    height: 36px;
    margin-right: 3px;
    width: 36px;
}

.facebook_link:hover {
    background: url('../img/common/facebook_btn_activo.png');
}

.instagram_link {
    background: url('../img/common/instagram_btn.png');
    height: 36px;
    width: 36px;
}

.instagram_link:hover {
    background: url('../img/common/instagram_btn_activo.png');
}

.navigation_item {
    margin-top: 5px;
}

.navigation_item a {
    display: block;
    text-decoration: none;
}

.navigation_item hr {
    margin-top: 5px;
    border-top: solid 1px #1a223c;
    width: 100%;
}

.item_text {
    color: #1a223c;
    cursor: pointer;
    font-family: mensch;
    font-size: 24px;
    height: 19px;;
    padding: 5px;
}

.item_text:hover {
    background-color: #1a223c;
    color: white;
}

@media screen and (max-width: 750px) {

    #contact_navigation {
        margin-right: 15px;
    }
}


@media screen and (max-width: 640px) {

    #logo_container {
        padding-left: 10px;
    }

    #logo_container a {
        background: url('../img/common/logo_mobile.png');
        height: 46px;
        width: 100px;
    }

    #contact_navigation {
        margin-right: : 10px;
        width: 180px;
    }

    #desktop_navigation {
        display: none;
    }

    #mobile_navigation {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    .social_link {
        margin: 6px 3px 0px 3px;
    }
}
