@font-face {
   font-family: mensch;
   src: url(../fonts/mensch.ttf);
}

header {
	background-color: #f1cd4e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	height: 72px;
    justify-content: space-between;
}

#logo_container {

    /*background-color: #666;*/
    align-items: center;
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    padding-left: 15px;
}

#logo_container a {
    background: url('../img/common/logo.png');
    display: block;
    height: 60px;
    width: 130px;
}

#contact_navigation {
    /*background-color: #ccc;*/
    margin-right: 30px;
    position: relative;
    width: 460px;
}

#desktop_navigation {
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    list-style: none;
    padding-right: 20px;
    position: absolute;
    width: 100%;
}

#social_link_container, #contact_us_link, #home_link, #social_link_container_mobile,
#contact_us_link_mobile, #home_link_mobile {
    display: block;
}

#home_link {
    background: url('../img/common/home.png');
    height: 44px;
    width: 76px;
}

#home_link:hover {
    background: url('../img/common/home_activo.png');
}

#social_link_container {
    align-items: center;
    -webkit-align-items: center; /* Safari 7.0+ */
    background: url('../img/common/siguenos_editada.png');
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 43px;
    justify-content: flex-end;
    -webkit-justify-content: flex-end; /* Safari 6.1+ */
    width: 199px;
}

#contact_us_link {
    background: url('../img/common/conocenos.png');
    height: 43px;
    width: 144px;
}

#contact_us_link:hover {
    background: url('../img/common/conocenos_activo.png');
}

#mobile_navigation {
    bottom: 0;
    display: none;
    justify-content: space-between;
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    list-style: none;
    position: absolute;
    width: 100%;
}

#home_link_mobile {
    background: url('../img/common/home_movil.png');
    height: 44px;
    width: 51px;
}

#home_link_mobile:hover {
    background: url('../img/common/home_movil_activo.png');
    height: 44px;
    width: 50px;
}

#social_link_container_mobile {
    align-items: center;
    -webkit-align-items: center; /* Safari 7.0+ */
    background: url('../img/common/contenedor_redes_movil.png');
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 43px;
    justify-content: center;;
    -webkit-justify-content: center; /* Safari 6.1+ */
    width: 98px;
}

#contact_us_link_mobile {
    background: url('../img/common/conocenos_movil.png');
    height: 44px;
    width: 62px;
}

#contact_us_link_mobile:hover {
    background: url('../img/common/conocenos_movil_activo.png');
}

.social_link {
    /*background-color: crimson;*/
    display: block;
    margin: 5px 9px 0px 3px;
}

.facebook_link {
    background: url('../img/common/facebook_btn.png');
    height: 36px;
    margin-right: 3px;
    width: 36px;
}

.facebook_link:hover {
    background: url('../img/common/facebook_btn_activo.png');
}

.instagram_link {
    background: url('../img/common/instagram_btn.png');
    height: 36px;
    width: 36px;
}

.instagram_link:hover {
    background: url('../img/common/instagram_btn_activo.png');
}

@media screen and (max-width: 750px) {

    #contact_navigation {
        margin-right: 15px;
    }
}


@media screen and (max-width: 640px) {

    #mobile_navigation {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    #logo_container {
        padding-left: 10px;
    }

    #logo_container a {
        background: url('../img/common/logo_mobile.png');
        height: 46px;
        width: 100px;
    }

    #contact_navigation {
        margin-right: 5px;
        width: 230px;
    }

    #desktop_navigation {
        display: none;
    }

    .social_link {
        margin: 6px 3px 0px 3px;
    }
}
