@font-face {
   font-family: mensch;
   src: url(../fonts/mensch.ttf);
}

* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: #dff4f5;
}

header {
	background-color: #f1cd4e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	height: 72px;
    justify-content: space-between;
}

#shadow_container img {
    width: 100%;
    height: auto;
}

#logo_container {
    /*background-color: #666;*/
    padding: 5px 20px;
}

#logo_container img {
    height: auto;
    width: 130px;
}

#contact_navigation {
    /*background-color: #ccc;*/
    margin-right: 50px;
    position: relative;
    width: 380px;
}

#contact_navigation ul {
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    list-style: none;
    padding-right: 20px;
    position: absolute;
    width: 100%;
}

#social_link, #contact_us_link {
    display: block;
}

#social_link {
    background: url('../img/joinus/siguenos.png');
    height: 43px;
    width: 199px;
}

#social_link:hover {
    background: url('../img/joinus/siguenos_face.png');
}

#contact_us_link {
    background: url('../img/joinus/conocenos.png');
    height: 43px;
    width: 144px;
}

#contact_us_link:hover {
    background: url('../img/joinus/conocenos_activo.png');
}

#main_container {
    /*background-color: #ccc;*/
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;
}

#info_and_form_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-top: -30px;
    padding: 0px 10px 50px 10px;
}

#info_paragraph {
    /*background-color: #aaa;*/
    -webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: 1;       /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 1;           /* IE 10 */
    flex: 1;
}

#info_paragraph hr {
    border-top: solid 3px #1a223c;
    margin: auto;
    width: 254px;
}

#info_title {
    background: url('../img/joinus/quierohacerparte.png');
    height: 193px;
    margin: 26px auto;
    width: 208px;
}

#info_text {
    color: #1a223c;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    margin: 17px auto;
    text-align: center;
    width: 80%;
}

#info_text span {
    font-weight: 700;
}

#form_container {
    /*background-color: green;*/
    -webkit-flex-direction: column;
    -webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: 1;       /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 1;           /* IE 10 */
    flex: 1;
}

#join_us_form {
    background: url('../img/joinus/fondoformulario.png');
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column; /* Safari 6.1+ */
    height: 490px;
    justify-content: center;
    margin: 0 auto;
    width: 450px;
}

#form_fields_container {
    /*background-color: violet;*/
    align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column; /* Safari 6.1+ */
    margin: auto;
    width: 92%;
}

#form_fields_container input[type='submit'] {
    background: url('../img/joinus/enviar_btn.png');
    cursor: pointer;
    height: 59px;
    margin: 50px 20px 0px 230px;
    width: 150px;
}

#form_fields_container input[type='submit']:hover {
    background: url('../img/joinus/enviar_btn_activo.png');
}

#form_fields_container label {
    color: #1a223c;
    font-family: mensch;
    font-size: 18px;
    font-weight: 700;
    margin-right: 8px;
}

#facebook-page {
    /*background-color: #ccc;*/
    padding: 30px;
    width: 340px;
}

#facebook-page-container {
    /*background-color: #666;*/
    border-radius: 5px;
    margin: 0 auto;
    overflow: hidden;
    width: 265px;
}

#followers_container {
    /*background-color: red;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

#followers_count {
    /*background-color: violet;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 30px 0;
    -webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: 1;       /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 1;           /* IE 10 */
    flex: 1;
}

#followers_paragraph {
    /*background-color: pink;*/
    font-size: 28px;
    max-width: 400px;
    margin: auto;
    text-align: center;
}

#followers_paragraph span {
    font-weight: bolder;
}

.small_field, .large_field, .check_box_container {
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end; /* Safari 6.1+ */
    padding: 9px 20px;
    width: 90%;
}

.large_field {
    align-items: flex-start;
}

.large_field label {
    padding-top: 6px;
}

.small_field input, .large_field textarea {
    border-radius: 5px;
    box-shadow: inset 4px 3px 0px 0px #e6e6d4;
    width: 280px;
}

.small_field input {
    height: 30px;
}

.large_field textarea {
    height: 120px;
}

.check_box_container input[type='checkbox'] {
    margin-top: -6px;
    height: 15px;
    width: 15px;
}

.green_text {
    color: green;
}

@media screen and (max-width: 850px) {

    #form_fields_container {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    #facebook-page {
        width: 100%;
    }

    #followers_container {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    #followers_count {
        min-width: 400px;
    }

    .form_left_column, .form_right_column {
        min-width: 405px;
    }
}

@media screen and (max-width: 640px) {

    #followers_count {
        min-width: 320px;
    }

    #followers_paragraph {
        width: 85%;
    }

    .form_left_column, .form_right_column {
        min-width: 320px;
    }

    .small_field, .large_field, .check_box_container {
        box-sizing: border-box;
        width: 100%;
    }
}
