* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
	background: #fff;
	margin: 0;
	overflow-x: hidden;
	width: auto;
}

header{
/*    align-items: center;*/
	background-color: #F1cd4e;
    display: flex;
	height: 72px;
    margin-right: 0;
    margin-left: 0;
}

header li{
	display: inline-block;
	list-style-type: none;
}

header nav ul{
	bottom: 0;
	margin: 0;
	position: absolute;
	z-index: 1;
}

#main_image{
	background-image: url("../img/background_V1.jpg");
	height: 600px;
	position: relative;
}


#section_DeQueSeTrata h3{
	font-size: 35px;
	margin-left: 15%;
}

.container{
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.logo p{
	font-family: "Lucida Console";
	font-weight: bold;
}

#deQueSeTrataButton{
	cursor:pointer;
	left:1%;
	top:80%;
	position: absolute;
}

.logo{
	align-items: center;
	display: flex;
	margin-left: 2%;
	width: 60%;
}

.logo a img{
	float:left;
	margin: 5%;
}

.logo p{
	float:left;
	height: auto; 
	margin-left: 3%;
	width: 70%; 
}

.social_networks{
	display: inline-block;
	position: relative;
	width: 20%;
}
.navigation{
	color: #000000;
	display: inline-block;
	position: relative;
	width: 20%;
}

.navigation a{
	color: black;
	text-decoration: none;
}
.section-header{
	text-align: center;
	padding-bottom: 75px;
}

.section-header h2{
	display: inline-block;
	font-size: 45px;
	margin-top: 5%;
	margin-bottom: 0;
	line-height: 40px;
	padding-bottom: 10px;
	position: relative;
	text-transform: uppercase;
}

.sub_section{
	margin-bottom: 5%;
}

.sub_section div{
	vertical-align: middle;
	display: inline-block;
	width: 30%;
}

.text_description{
	border: red;
	border-style: solid;
	margin-left: 15%;
}

.text_description p{
	display: table-cell;
	font-size: 20px;
	padding: 2%;
	text-align: justify;
}

.img_description{
	border: black;
	border-style: solid;
	height: 250px;
	margin-left: 5%;
}

#cta_button_container{
	text-align: center;
	width: 100%;
}

footer{
	background-color: #F1cd4e;
	height: 100px;
	margin-top: 2%;
	line-height: 20px;
	width: 100%;
}

footer .container{
    align-items: center;
	display: flex;
	height: 100%;
    justify-content: center;

}
.footer_item{
	display: inline-block;
	text-align: center;
	width: 33%;
}

/* Responsive */

@media (max-width: 980px) {

	header .logo a img{
		width: 32px;
	}
	header .logo p{
		font-size: 16px;
	}

	.header nav{
		display: none;
	}

	#main_image{
		height: 300px;
	}

	.section-header{
		padding-bottom: 5px
	}
	.section-header h2{
		font-size: 32px;
		margin-top: 10%;
		padding-bottom: 20px;
	}

	.sub_section{
		text-align: center;
	}

	#section_DeQueSeTrata h3{
		font-size: 24px;
		margin-left: 0;
	}

	.sub_section div{
		display: block;
		margin-left: 10%;
		margin-bottom: 5%;
		width: 80%;
	}

	.text_description p{
		font-size: 16px;
	}


	footer{
		height: 300px;
	}

	footer .container{
		display: block;
	}

	.footer_item{
		align-items: center;
		display: flex;
		height: 33%;
		justify-content:center;
		width: 100%;
	}

	.footer_item p{
		font-size: 16px;
	}

	.footer_icon_container {
		margin-right: 5%;
	}

	.footer_icon_container img{
		height: 32px;
		width:  32px;
	}

}

