@font-face {
    font-family: mensch;
    src: url(../fonts/mensch.ttf);
}

*{
    border: 0;
    margin: 0;
    padding: 0;
}

body {
	background: #fff;
	margin: 0;
	width: auto;
}

span{
	font-weight: bold;
}

#wrapper{
	overflow-x: hidden;
}

#home_link {
    background: url('../img/common/home_activo.png');
}

#main_image_container{
	background-color: #FFFEE8;
}

#main_image{
	background-image: url('../img/main/main_image.jpg');
    background-repeat: no-repeat;
    background-size: contain;
	height: 0;
	padding-top: 50.85%;
	width: 100%;
}

.section-header{
	align-items: center;
	-webkit-align-items: center; /* Safari 7.0+ */
	background-color: #FFFEE8;
  	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
  	display: -webkit-flex;     /* NEW - Chrome */
  	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	justify-content: center;
	-webkit-justify-content: center; /* Safari 7.0+ */
/*	padding-top: 5%;*/
	text-align: center;
}

.section-header div{
	background-image: url('../img/main/dequesetrata_titulo.png');
    background-repeat: no-repeat;
    background-size: contain;
	height: 0;
	padding-top: 5%;
	width: 30%;
}

.section_separator{
/*	border:orange solid;*/
	height: 40px;
	position: relative;
	width: 100%
}

.section_separator img{
	position: absolute;
	top:30%;
}

#pincel0_separator img{
	position: absolute;
	top:-70%;
	width: 100%;
}

.sub_section{
/*	border: red solid;*/
	justify-content: center;
	-webkit-justify-content: center; /* Safari 7.0+ */
  	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
  	display: -webkit-flex;     /* NEW - Chrome */
  	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  	height: 660px;
}

.sub_section_container{
	align-items: center;
	-webkit-align-items: center; /* Safari 7.0+ */
/*	border: blue solid;*/
	justify-content: center;
	-webkit-justify-content: center; /* Safari 7.0+ */
  	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
  	display: -webkit-flex;     /* NEW - Chrome */
  	display: flex;			/* NEW, Spec - Opera 12.1, Firefox 20+ */
	max-width: 1170px;
	padding-bottom: 5%;
	padding-top: 5%;
	width: 100%;
}

#comunidad_sub_section, #comunidad_sub_section_container, #pincel1_separator, #pincel0_separator {
	background-color: #FFFFEE;
}

#comunidad_sub_section{
	height: 497px;
}

#mascota_sub_section, #mascota_sub_section_container, #pincel2_separator{
	background-color: #E3F5F6;
}

#perdida_sub_section, #perdida_sub_section_container, #pincel3_separator{
	background-color: #FCF3EF;
}

#reencuentro_sub_section, #reencuentro_sub_section_container, #pincel4_separator {
	background-color: #FFFFFF;
}

#unete_sub_section, #unete_sub_section_container{
	background-color: #FFFEE8;
}

.text_image_group{
	padding-top: 2%;
	width: 36%;
}


#perdida_sub_section .text_image_group:nth-child(2){
	margin-left: 95px;
	margin-bottom: 5%;
}

#unete_sub_section .text_image_group:nth-child(2){
	margin-left: 45px;
	width: 46%;
}

#unete_sub_section .text_image_group:nth-child(2) div.img_description{
	width: 100%;
}

#unete_sub_section .text_image_group:nth-child(2) div.img_description img{
	cursor:pointer;
	height: 200px;
	width: 450px;
}

div.text_image_group div.text_description {
	width: 100%;
}

#perdida_sub_section div.text_image_group div.img_description {
	margin-top: 5%;
	width: 100%;
}

#perdida_sub_section .text_image_group:nth-child(2) div.img_description {
    margin-left: -13%;
    width: 140%;
}

.text_description {
	align-items:center;
	-webkit-align-items:center;
/*	border: red;
	border-style: solid;*/
  	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
  	display: -webkit-flex;     /* NEW - Chrome */
  	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: center;
    -webkit-justify-content: center; /* Safari 7.0+ */
    text-align: center;
	width: 37%;
}

 .text_content{
 	text-align: center
 }

 .text_container{
 	text-align: center;
 }

 .text_content .simple_paragraph{
	color: #1A223C;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 17px;
	line-height: 22.5px;
}

 .text_content .important_text{
	color: #1A223C;
	font-family: 'Concert One', cursive;
	font-size:32.32px;
	margin-bottom: 17px;
	line-height: 32.9px;
}

.separator{
	border-style: solid;
	border-top-width: 3px;
	color: #1A223C;
	margin-left: 25%;
	margin-top: 17px;
	margin-bottom: 17px;
	text-align: left;
	width: 50%;
}

.img_description{
    justify-content: center;
    -webkit-justify-content: center; /* Safari 7.0+ */
/*	border: black;
	border-style: solid;*/
  	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
  	display: -webkit-flex;     /* NEW - Chrome */
  	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	height: auto;
	width: 40%;
}

.img_description img{
	width: 100%;
}

#celular_img{
	height: auto;
	width: auto;
}

#comunidad_sub_section_container .img_description{
	margin-left: 95px;
}

#reencuentro_sub_section_container{
	overflow-x: hidden;
}

#reencuentro_sub_section_container .img_description{
	margin-left: 95px;
}

#mascota_sub_section_container .text_description{
	margin-left: 50px;
	width: 35%;
}

#reencuentro_sub_section_container .text_description{
	width:38%;
}

#unete_sub_section_container .important_text{
	margin-top: 25px;
}

#reencuentro_sub_section_container .text_description .important_text{
	margin-top: 0;
}

#mascota_img_container, #reencuentro_img_container {
	position: relative;
}

#mascota_img_container img{
	left: -13%;
	top: -200px;
	position: absolute;
	width: 130%;
}

#perdida_sub_section .text_image_group:nth-child(2) div.img_description img {
    height: auto;
    width: 100%;
}

#reencuentro_img_container img{
	position: absolute;
	left: -18%;
	top: -300px;
	width: 160%;
}

/* Responsive */

@media screen and (max-width: 950px) {

	#logo_container img {
		 width: 65px;
	}

	#main_image{
		background-image: url('../img/main/main_image_medium.jpg');
	    padding-top: 61.81%;
	}

	.section-header div{
		padding-top: 10%;
		width: 60%;
	}

	.sub_section{
		height: auto;
		padding-top: 8%;
	}

	#comunidad_sub_section{
		height: auto;
	}

	.sub_section_container{
		display: block;
	}

	.text_content .simple_paragraph{
		font-size: 19px;
		line-height: 22.5px;
	}

	.text_content .important_text{
		font-size:34.32px;
		line-height: 32.9px;
	}

	.text_description, .text_image_group{
		margin-left: 15% !important;
		margin-bottom: 5%;
		width: 70% !important;
	}

	.img_description {
		align-items:center;
		-webkit-align-items:center;
		margin-bottom: 5%;
		margin-left: 25% !important;
		margin-top: 10%;
		width: 50% !important;
	}

	#perdida_sub_section .text_image_group:nth-child(2) div.img_description {
	    margin-left: 12.5% !important;
		width: 75% !important;
	}

 	#mascota_sub_section_container{
		display: flex;
		display: -webkit-flex;
		flex-direction: column-reverse;
		-webkit-flex-direction: column-reverse;
 	}

	#mascota_img_container{
		margin-top: 0 ;
		margin-left: 0 !important;
	}

	#mascota_sub_section_container .text_description{
		margin-left: 0 !important;
	}

	#reencuentro_img_container > img, #mascota_img_container > img {
		left: 0;
		top: 0;
		position: relative;
		width: 120% !important;
	}

	#celular_img{
		width: 75%;
	}

	#perdida_sub_section .text_image_group:nth-child(2) div.img_description img {
	    margin-left: 0;
	}

	#unete_sub_section_container .important_text {
	     margin-top: 0;
	}

	#joinus_container{
		margin-left: 15% !important;
		width: 70% !important;
	}

	#perdida_sub_section_container .text_image_group:nth-child(2){
		display: flex;
		display: -webkit-flex;
		flex-direction: column-reverse;
		-webkit-flex-direction: column-reverse;
	}

	#unete_sub_section .text_image_group:nth-child(2) div.img_description a{
		display: flex;
		display: -webkit-flex;
		justify-content:center;
		-webkit-justify-content: center;
	}

	#unete_sub_section .text_image_group:nth-child(2) div.img_description img{
		height: 188px;
		width: 420px;
	}
}

@media screen and (max-width: 520px) {

	#main_image{
		background-image: url('../img/main/main_image_small.jpg');
		padding-top: 146.15%;
	}

	#pincel0_separator img{
		top:-30%;
	}

	.section-header div{
		padding-top: 13.36%;
		width: 80%;
	}

	.img_description, .text_description, .text_image_group{
		margin-left: 10% !important;
		margin-bottom: 5%;
		width: 80% !important;
	}

	#perdida_sub_section .text_image_group:nth-child(2) div.img_description {
	    margin-left: 10% !important;
		width: 80% !important;
	}

	#joinus_container{
		margin-left: 5% !important;
		width: 90% !important;
	}

	#unete_sub_section .text_image_group:nth-child(2) div.img_description img{
		height: 125px;
		width: 280px;
	}

	#comunidad_title, #perdida_title{
		width:100%
	}

	#mascota_title{
		width: 80%;
	}

	#perdida_sub_section .text_image_group:nth-child(2) div.img_description img{
	    width: 150%;
	}

	#final_feliz_title, #unete_title{
		width: 70%;
	}
}
