* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
	background: #fff;
	margin: 0;
	overflow-x: hidden;
	width: auto;
}

header{

	background-color: #F1cd4e;
	display: -webkit-box;      
	display: -moz-box;         
	display: -ms-flexbox;     
	display: -webkit-flex;    
	display: flex;         
	height: 72px;
    margin-right: 0;
    margin-left: 0;
}

span{
	font-weight: bold;
}

header li{
	display: inline-block;
	list-style-type: none;
}

header nav ul{
	bottom: 0;
	margin: 0;
	position: absolute;
	z-index: 1;
}

#main_image img{
	height: auto;
	position: relative;
	width: 100%
}


#section_DeQueSeTrata h3{
	font-size: 35px;
}

.container{
	margin-right: auto;
	margin-left: auto;
}

.logo{
	align-items: center;
	-webkit-align-items: center; /* Safari 7.0+ */	
  	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
  	display: -webkit-flex;     /* NEW - Chrome */
  	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	margin-left: 2%;
	width: 10%;
}

.logo a {
	width: 100%;
}

.logo a img{
	float:left;
	height: auto;
	width: 100%;
}

.social_networks{
	display: inline-block;
	margin-left: 55%;
	position: relative;
	width: 15%;
}
.navigation{
	color: #000000;
	display: inline-block;
	margin-left: 5%;
	position: relative;
	width: 15%;
}

.navigation a{
	color: black;
	text-decoration: none;
}
.section-header{
	align-items: center;
	-webkit-align-items: center; /* Safari 7.0+ */		
	background-color: #FFFEE8;
  	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
  	display: -webkit-flex;     /* NEW - Chrome */
  	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */	
	justify-content: center;
	-webkit-justify-content: center; /* Safari 7.0+ */	
	padding-bottom: 2%;
	text-align: center;
}

.section-header h2{
	font-size: 45px;
	margin-top: 2%;
}

.section_separator{
/*	border:orange solid;*/
	height: 40px;
	width: 100%
}

.sub_section{
/*	border: red solid;*/
	justify-content: center;
	-webkit-justify-content: center; /* Safari 7.0+ */	
  	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
  	display: -webkit-flex;     /* NEW - Chrome */
  	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  	padding-top: 4%;
}

.sub_section_container{
/*	border: black solid;*/
	justify-content: center;
	-webkit-justify-content: center; /* Safari 7.0+ */	
  	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
  	display: -webkit-flex;     /* NEW - Chrome */
  	display: flex;			/* NEW, Spec - Opera 12.1, Firefox 20+ */            
	max-width: 1150px;
	width: 100%;
}

#comunidad_sub_section, #comunidad_sub_section_container, #pincel1_separator {
	background-color: #FFFEEB;	
}

#mascota_sub_section, #mascota_sub_section_container, #pincel2_separator{
	background-color: #E1F2F3;	
}

#perdida_sub_section, #perdida_sub_section_container, #pincel3_separator{
	background-color: #FAF3EF;	
}

#reencuentro_sub_section, #reencuentro_sub_section_container, #pincel4_separator {
	background-color: #FFFFFF;	
}

#unete_sub_section, #unete_sub_section_container{
	background-color: #FFFEE8;	
}

.text_image_group{
	width: 30%;
}

div.text_image_group div.text_description {
	width: 100%;
}

div.text_image_group div.img_description {
	width: 100%;
}

#celular_img {

	width: 50%;
}

#mapa_img{
	width: 90%;
	height: 90%;
}

.text_description{
	align-items:center;
	-webkit-align-items:center;
/*	border: red;
	border-style: solid;*/
  	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
  	display: -webkit-flex;     /* NEW - Chrome */
  	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    text-align: center;
    -webkit-justify-content: center; /* Safari 7.0+ */	
	width: 30%;
}


.title{
	font-size: 35px;
}

.text_description .text_content{
	font-size: 16px;
	padding: 2%;
}

.separator{
	border-style: solid;
	border-width: 1px;
	color: black;
	margin-left: 25%;
	margin-top: 0.4em;
	width: 50%;
}

.img_description{
  	align-items:center;
  	-webkit-align-items:center;
/*	border: black;
	border-style: solid;*/
  	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
  	display: -webkit-flex;     /* NEW - Chrome */
  	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
/*    -webkit-flex-direction: column;*/
	height: auto;
    justify-content: center;
    -webkit-justify-content: center; /* Safari 7.0+ */	
	width: 30%;
}

.img_description img{
	width: 100%;
}

#cta_button_container{
	text-align: center;
	width: 100%;
}

footer{
	background-color: #F1cd4e;
	height: 100px;
	line-height: 20px;
}

footer .container{
    align-items: center;
    -webkit-align-items: center; /* Safari 7.0+ */
  	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
  	display: -webkit-flex;     /* NEW - Chrome */
  	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	height: 100%;
    justify-content: center;

}
.footer_item{
	display: inline-block;
	text-align: center;
	width: 33%;
}

/* Responsive */

@media (max-width: 980px) {

	header .logo {
		width: 20%;
	}
	header .logo p{
		font-size: 16px;
	}

	.header nav{
		display: none;
	}

	.section-header{
		padding-bottom: 5px
	}
	.section-header h2{
		font-size: 32px;
		margin-top: 10%;
		padding-bottom: 20px;
	}

	.sub_section{
		padding-top: 15%;
		text-align: center;
	}

	.sub_section_container{
		display: block;
	}

	#section_DeQueSeTrata h3{
		font-size: 24px;
		margin-left: 0;
	}

	.img_description, .text_description, .text_image_group{
		margin-left: 10%;
		margin-bottom: 5%;
		width: 80%;
	}

	.text_image_group{
/*		border: blue solid;*/
		width: 80%;
	}

	div.text_image_group div {
		margin-left: 0;
	}

	.title{
		font-size: 20px;
	}

	.text_description .text_content{
		font-size: 16px;
	}

	footer{
		height: 200px;
	}

	footer .container{
		display: block;
	}

	.footer_item{
		align-items: center;
		-webkit-align-items: center; /* Safari 7.0+ */
	  	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	  	display: -ms-flexbox;      /* TWEENER - IE 10 */
	  	display: -webkit-flex;     /* NEW - Chrome */
	  	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */		
		height: 33%;
		justify-content:center;
		width: 100%;
	}

	.footer_item p{
		font-size: 16px;
	}

	.footer_icon_container {
		margin-right: 5%;
	}

	.footer_icon_container img{
		height: 32px;
		width:  32px;
	}

}

