* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: #dff4f5;
}

p span {
    font-weight: 700;
}

#shadow_container img {
    height: 121px;
    width: 100%;
}

#contact_us_link {
    background: url('../img/common/conocenos_activo.png');
}

#team_section {
    margin-top: -60px;
    /*background-color: white;*/
}

#team_container {
    /*background-color: cadetblue;*/
    align-items: center;
    -webkit-align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    margin: auto;
    max-width: 1000px;
    position: relative;
    width: 100%;
}

#left_line {
    border-right: solid 3px #1a223c;
}

#right_line {
    border-left: solid 3px #1a223c;
}

.team_member_container {
    /*background-color: brown;*/
    border-radius: 5px;
    height: 510px;
    margin: 20px;
    width: 280px;
}

.team_picture_container {
    /*background-color: #adeaeb;*/
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

.team_picture_container figure {
    /*background-color: white;*/
    display: inline-block;
    height: auto;
    margin: 0 auto;
}

.team_picture_container figure img {
    display: block;
}

.member_name_container {
    text-align: center;
}

.member_name_container img {
    display: inline-block;
}

.member_description_container {
    /*background-color: #d7595d;*/
    padding: 20px 15px;
}

.member_description_container p {
    color: #1a223c;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    text-align: center;
}

.vertical_line {
    height: 220px;
    position: relative;
    top: 110px;
}

@media screen and (max-width: 960px) {

    #right_line {
        display: none;
    }

    #team_container {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 660px) {
    #left_line {
        display: none;
    }
}
